{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Add Sensor</h3>
            </div>
            <!-- /.box-header -->
           
          <!-- ---------------------------- -->
          <form action="" method="post">
                {% csrf_token %}
          <div class="box-body">
            <div class="col-md-6">
              <div class="form-group">
                  <label for="sensorid"></label>
                  <input type="text" name="sensorid" class="form-control" id="sid" placeholder="Sensor ID*" required maxlength="20">
                </div>
                <div class="form-group">
                  <label for="sensorname"></label>
                  <input type="text" name="sname" class="form-control" id="sn" placeholder="Sensor Name*" required maxlength="50">
                </div>
                
                <div class="form-group">
               <label for="selectedcompany"></label>
                  <select class="form-control" name="selectedcompany" id="selectedcompany" required>

                    {% if request.user.is_staff or request.user.is_superuser  %}

                      <option selected disabled value="">Select Company*</option>

                      {% for companydata in comp %}

                      <option value="{{companydata.companyid}}">{{companydata.companyname}} </option>

                      {% endfor %}

                    {% else %}
                      
                      <option selected disabled value="{{comp.companyid}}">{{comp.companyname}}</option>
                     
                    {% endif %}
                  </select>
                </div>
                <div class="form-group">
                  <input type="hidden" value="{{comp.companyid}}" name="compid" >
                </div>
                  

                <div class="form-group">
               <label for="selectedsensortype"></label>
                  <select class="form-control" name="selectedsensortype" id="selectedsensortype" required>
                    <option selected disabled>Select Sensor type*</option>
                    {% for data in sensortype %}
                    <option value="{{data.sensortypeid}}">{{data.sensortypename}}</option>
                    {% endfor %}
                  </select>
                </div>
                
                <div class="form-group">
                  <label for="paramtypes"></label>
                  <textarea name="paramtypes" class="form-control" id="paramtypes" placeholder="Add Paramtypes" required></textarea> 
                </div>
                  
              <div class="form-group">
                  <label for="activesensor">Active</label><br>
                  <input type="radio" name="activesensor"  id="activesensor" value="Y" checked>Yes
                  <input type="radio" name="activesensor"   value="N" >No
                </div>


                            <div class="submit_button row">
          <div class="col-md-3 col-sm-3 col-xs-4">
                  <div class="form-group">
                    <a href="{% url 'sensors' %}"><input type="button" value="Cancel" class="form-control btn btn-danger"></a>
                 </div>
               </div>

           <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-success">
                 </div>
               </div>

          
      </div>
            </div>
      <!--       <div class="form-group">
              <input type="submit" class="form-control btn btn-success">
           </div> -->
          </div>
           
          </form> 
       <!--    <center>
          <div class="form-group">
              <a href="{% url 'sensors' %}"><button>Cancel</button></a>
           </div>
           </center> -->
          <!-- ---------------------------------------- -->
          
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
 
    </section>
    {% endblock %}