{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Update Object Type</h3>
            </div>
          <form action="{% url 'edit_object_type' data.objecttypeid %}" method="POST">
                {% csrf_token %}
          <div class="box-body">
            <input type="hidden" name="object_type_id" value="{{data.objecttypeid}}">
            <div class="col-md-6">
                <div class="form-group">
                  <label for="objecttypename">Object Type Name</label>
                  <input type="text" name="objecttypename" class="form-control" value="{{data.objecttypename}}" required>
                </div>

                <div class="form-group">
                  <label for="companyid">Company Id</label>
                  <input type="number" name="companyid" class="form-control" value="{{data.companyid}}" required {% if user.is_staff != True %} disabled {% endif %}>
                </div>

                <div class="form-group">
                  <label for="movingobject">Moving Object</label>
                  <input type="checkbox" name="movingobject" value="{{data.movingobject}}" {% if data.movingobject == 'Y' %} checked {% endif %} >
                </div>

                <div class="form-group">
                  <label for="groupingrequired">Grouping Required</label>
                  <input type="checkbox" name="groupingrequired" value="{{data.groupingrequired}}" id="isGRSelected" {% if data.groupingrequired == 'Y' %} checked {% endif %}>
                </div>

                <div class="form-group">
                  <input type="number" name="groupcount" class="form-control" placeholder="Group Count*" {% if data.groupcount == 0 %} value="" {% else %} value="{{data.groupcount}}" {% endif %} id="GRcount" {% if data.groupingrequired == 'N' %} style="display: none;" {% endif %}>
                </div>

                  <div class="submit_button row">
          <div class="col-md-3 col-sm-3 col-xs-4">
                  <div class="form-group">
                    <a href="{% url 'object_types' %}"><input type="button" value="Cancel" class="form-control btn btn-danger"></a>
                 </div>
               </div>
           <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-success">
                 </div>
               </div>
      </div>
            </div>
          </div>
          </form> 
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
    {% block script %}
<script type="text/javascript">
    $("#isGRSelected").on('change',function(){

    if($("#isGRSelected").is(':checked')){
      $("#GRcount").show();
      $("#GRcount").prop('required', 'required'); 
    }
    
    else{
        $("#GRcount").hide();
        $("#GRcount").val('');
        $("#GRcount").removeAttr('required');
      } 

   });
</script>
{% endblock %}