    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Object Sensor Mapping</h3>
            </div>
            <form method="get" action="{% url 'get_filter_mapping_data' %}">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-3 fliter_select">
                  <div style="padding-left: 9px;">
                    <input type="radio"  name="active" value="Y"
                    checked>
                    <label for="activerecord">Active Records</label>
                  </div>

                  <div style="padding-left: 9px;">
                    <input type="radio"  name="active" value="N">
                    <label for="activerecord">Deactive Records</label>
                  </div>
                </div>
                <div class="col-md-9 fliter_select">
                  <select name="sensorid" id="sensorid-filter-id">
                    <option value='' selected>All sensors</option>
                    {% for data in  sensors %}
                    <option value="{{data.sensorid}}">{{data.sensorid}}</option>
                    {% endfor %}
                  </select>

                  <select name="workflowname" id="workflow-filter-id">
                    <option value='' selected >All Workflows</option>
                    {% for data in  workflows %}
                    <option value="{{data.workflowid}}">{{data.workflowname}}</option>
                    {% endfor %}
                  </select>

                  <select name="objecttype" id="object-type-filter-id">
                    <option value='' selected >All objecttypes</option>
                    {% for data in  objecttypes %}
                    <option value="{{data.objecttypeid}}">{{data.objecttypename}}</option>
                    {% endfor %}
                  </select>

                  <button type="button" class="btn btn-info" id="sensor_mapping_filter">Filter</button>
                </div>
              </div>

              
            </form>
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover mapping-table">
                <thead>
                <tr>
                  <th>Object Name</th>
                  <th>Sensor Name</th>
                  <th>Workflow Name</th>
                  <th>Company Name</th>
                  <th>Status</th>
                  <th>Object Type</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody id="mapping_tbl">
                  {% for data in objectsensormapping %}
                <tr>
                  <td>{{data.objectname}}</td>
                  <td>{{data.sensorid.sensorname}}</td>
                  <td>{{data.workflowid.workflowname}}</td>
                  <td>{{data.companyid.companyname}}</td>
                  <td>{{data.activerecord}}</td>
                  <td>{{data.objecttypeid.objecttypename}}</td>
                  <td><a href="{% url 'update_object_sensor_mapping' data.objectid %}">edit</a></td>
                  <td><span class="glyphicon glyphicon-trash delete-object-sensor-mapping " data-id="{{data.objectid}}"></span></td>
                  
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div> 
          </div>
        </div>
      </div>
    </section>
  
    {% endblock %}

{% block script %}
<script type="text/javascript">

    $('#sensor_mapping_filter').click(function(){  

    var filter_workflow_name = $('#workflow-filter-id').val();
    var filter_sensor_id = $('#sensorid-filter-id').val();
    var filter_object_type = $('#object-type-filter-id').val();
    var active = $("input[name='active']:checked").val();
  $.ajax({
           url: "get-filter-mapping-data",
           type:"GET",
           data: {
              'filter_workflow_name':filter_workflow_name,
              'filter_sensor_id':filter_sensor_id,
              'filter_object_type':filter_object_type,
              'active':active,
              'csrfmiddlewaretoken': token,
           },
           success: function(response) {  
              
              if (response.status==true){
                var row;
                for(data=0;data<response['response_data'].length;data++){ 
                  row+="<tr>"+
                    "<td>"+response['response_data'][data].objectname+"</td>"+
                    "<td>"+response['response_data'][data].sensorname+"</td>"+
                    "<td>"+response['response_data'][data].workflowname+"</td>"+
                    "<td>"+response['response_data'][data].companyname+"</td>"+
                    "<td>"+response['response_data'][data].status+"</td>"+
                  "</tr>"
                }
            $("#mapping_tbl").html(row);
              }
              else{
                 var table = $('.mapping-table').DataTable();
                table.clear().draw();
              }
            }        
       });
  });
  </script>
{% endblock %}