{% load static %}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left info">
          {% if request.user.is_authenticated and request.user.is_staff %}
             <p>{{user}}</p>
          {% else %}
              <p>{{user}}</p>
          {% endif %}
        </div>
      </div>

      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        {% if request.user.is_staff or request.user.is_superuser  %}
        <li class="treeview">
          <a href="{% url 'index' %}">
            <i class="fa fa-building-o"></i>
            <span>Company</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'index' %}"><i class="fa fa-circle-o"></i>Company</a></li>
            <li><a href="{% url 'add_company' %}"><i class="fa fa-circle-o"></i> Add Company</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="{% url 'index' %}">
            <i class="fa fa-user"></i>
            <span>Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'user_details' %}"><i class="fa fa-circle-o"></i>Users</a></li>
            <li><a href="{% url 'adduser' %}"><i class="fa fa-circle-o"></i> Add User</a></li>

          </ul>
        </li>
        {% endif %}
  
        <li class="treeview">
          <a href="{% url 'index' %}">
           <i class="fa fa-area-chart" aria-hidden="true"></i>
            <span>Zones</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            
            <li><a href="{% url 'user_zone' %}"><i class="fa fa-circle-o"></i>Zones</a></li>
            <li><a href="{% url 'add_zone' %}"><i class="fa fa-circle-o"></i> Add Zones</a></li>

          </ul>
        </li>

        <li class="treeview">
          <a href="{% url 'index' %}">
           <i class="fa fa-area-chart" aria-hidden="true"></i>
            <span>Sensors</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            
            <li><a href="{% url 'sensor_type' %}"><i class="fa fa-circle-o"></i>Sensor Types</a></li>
            <li><a href="{% url 'add_sensor_type' %}"><i class="fa fa-circle-o"></i> Add Sensor Type</a></li>
            <li><a href="{% url 'sensors' %}"><i class="fa fa-circle-o"></i>Sensors</a></li>
            <li><a href="{% url 'add_sensor' %}"><i class="fa fa-circle-o"></i> Add Sensor</a></li>

          </ul>
        </li>

        <li class="treeview">
          <a href="{% url 'index' %}">
           <i class="fa fa-area-chart" aria-hidden="true"></i>
            <span>Workflow</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            
            <li><a href="{% url 'workflow' %}"><i class="fa fa-circle-o"></i>Workflows</a></li>
            <li><a href="{% url 'add_workflow' %}"><i class="fa fa-circle-o"></i>Add workflow</a></li>

          </ul>
        </li>

                <li class="treeview">
          <a href="{% url 'index' %}">
           <i class="fa fa-area-chart" aria-hidden="true"></i>
            <span>Mappings</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            
            <li><a href="{% url 'object_sensor_mapping' %}"><i class="fa fa-circle-o"></i>Object Sensor Mappings</a></li>

            <li><a href="{% url 'add_object_sensor_mapping' %}"><i class="fa fa-circle-o"></i>Add object Sensor Mapping</a></li>
            
          </ul>
        </li>

        <li class="treeview">
          <a href="{% url 'index' %}">
           <i class="fa fa-area-chart" aria-hidden="true"></i>
            <span>Object Transactions</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            
            <li><a href="{% url 'object_transaction' %}"><i class="fa fa-circle-o"></i>Transactions</a></li>
           
          </ul>
        </li>


          <li class="treeview">
          <a href="{% url 'index' %}">
           <i class="fa fa-area-chart" aria-hidden="true"></i>
            <span>Object Zone Details</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'object_detail' %}"><i class="fa fa-circle-o"></i>Zone Details</a></li>
            
          </ul>
        </li>

        <li class="treeview">
          <a href="{% url 'index' %}">
           <i class="fa fa-area-chart" aria-hidden="true"></i>
            <span>Object Types</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            
            <li><a href="{% url 'object_types' %}"><i class="fa fa-circle-o"></i>Object Types</a></li>
            <li><a href="{% url 'add_object_type' %}"><i class="fa fa-circle-o"></i> Add Object Types</a></li>

          </ul>
        </li>


      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>