{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Update Sensor Type</h3>
            </div>
            <!-- /.box-header -->
           
          <!-- ---------------------------- -->
          <form action="{% url 'update_sensor_type' data.sensortypeid %}" method="POST">
            
                {% csrf_token %}
          <div class="box-body">
            <input type="hidden" name="sensor_type_id" value="{{data.sensortypeid}}">
            <div class="col-md-6">

                <div class="form-group">
                  <label for="sensortypename">Sensor Type Name</label>
                  <input type="text" name="stname" class="form-control" id="stn" value="{{data.sensortypename}}"required>
                </div>

                <div class="form-group">
               <label for="selectedcompany">Company</label>
                  <select class="form-control" name="selectedcompany" id="selectedcompany" {% if request.user.is_staff or request.user.is_superuser %} {% else %}disabled {% endif %}>
                    {% for companydata in comp %}
                    <option value="{{companydata.companyid}}" {% if companydata.companyid == data.companyid.companyid %} selected {% endif %}>{{companydata.companyname}}</option>
                    {% endfor %}
                    
                  </select>
                  </div>



                                                  <div class="submit_button row">
          <div class="col-md-3 col-sm-3 col-xs-4">
                  <div class="form-group">
                    <a href="{% url 'sensor_type' %}"><input type="button" value="Cancel" class="form-control btn btn-danger"></a>
                 </div>
               </div>

           <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-success">
                 </div>
               </div>

          
      </div>

      
            </div>
           <!--  <div class="form-group">
              <input type="submit" value='Save' class="form-control btn btn-success">
           </div> -->
          </div>
          
          </form> 
          <!-- <center>
          <div class="form-group">
              <a href="{% url 'sensor_type' %}"><button>Cancel</button></a>
           </div>
           </center> -->
          <!-- ---------------------------------------- -->
          
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
 
    </section>
    {% endblock %}