{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Update Company</h3>
            </div>
            <!-- /.box-header -->
           
          <!-- ---------------------------- -->
          <form action="{% url 'update_company' data.companyid %}" method="POST">
                {% csrf_token %}
          <div class="box-body">
            <input type="hidden" name="company_id" value="{{data.companyid}}">
            <div class="col-md-6">
                <div class="form-group">
                  <label for="companyname">Company Name</label>

                  <input type="text" name="cname" class="form-control" id="cn" value="{{data.companyname}}" required>
                </div>
                <div class="form-group">
                  <label for="address1">Address1</label>
                  <input type="text" name="address1" class="form-control" id="add1" value="{{data.address1}}">
                </div>
                <div class="form-group">
                  <label for="address2">Address 2</label>
                  <input type="text" name="address2" class="form-control" id="add2" value="{{data.address2}}">
                </div>
                <div class="form-group">
                  <label for="phonenumber">Phone Number</label>
                  <input type="number" name="pnumber" class="form-control" id="pnum" value="{{data.phonenumber}}" required>
                </div>
                <div class="form-group">
                  <label for="mobilenumber">Mobile Number</label>
                  <input type="number" name="mnumber" class="form-control" id="pnum" value="{{data.mobilenumber}}" >
                </div>
                <div class="form-group">
                  <label for="emailid">Email Id</label>
                  <input type="email" name="email" class="form-control" id="emid" value="{{data.emailid}}" required max="50">
                </div>
                  <div class="form-group">
                  <label for="contactperson">Contact Person</label>
                  <input type="text" name="cperson" class="form-control" id="cp" value="{{data.contactperson}}">
                </div>
              </div>
              <div class="col-md-6">
              
                <div class="form-group">
                  <label for="designation">Designation</label>
                  <input type="text" name="desig" class="form-control" id="des" value="{{data.designation}}">
                </div>
                <div class="form-group">
                  <label for="permittedobjects">Permitted Objects</label>
                  <input type="number" name="pobjects" class="form-control" id="perob" value="{{data.permittedobjects}}" min="0">
                </div>
                <div class="form-group">
                  <label for="permittedzones">Permitted Zones</label>
                  <input type="number" name="pzones" class="form-control" id="perzon" value="{{data.permittedzones}}" min="0">
                </div>
                <div class="form-group">
                  <label for="subscriptionstartdate">Subscription Start Date</label>
                  <input type="text"  name="substart_date" class="form-control date-picker" id="datepicker" value="{{data.subscriptionstartdate|date:'Y-m-d'}}" placeholder="Subscription Start Date">
                </div>
                <div class="form-group">
                  <label for="subscriptionenddate">Subscription End Date</label>
                  <input type="text"  name="subend_date" class="form-control date-picker" id="datepicker" value="{{data.subscriptionenddate|date:'Y-m-d'}}" placeholder="Subscription End Date">
                </div>
                <div class="form-group">
                  <label for="createddate">Created Date</label>
                  <input type="text"  name="cr_date" class="form-control date-picker" id="datepicker" value="{{data.createddate|date:'Y-m-d'}}" placeholder="Created Date">
                </div>
                  <div class="form-group">
                    <label for="activezone">Active</label>
                    <input type="radio" name="activec"  id="activezone" value="Y" {% if data.activecompany == 'Y' %} checked {% endif %}>Yes
                    <input {% if data.activecompany == 'N' %} checked {% endif %} type="radio" name="activec"   value="N" >No
                </div>


        <div class="submit_button row">
          <div class="col-md-3 col-sm-3 col-xs-4">
                  <div class="form-group">
                    <a href="{% url 'index' %}"><input type="button" value="Cancel" class="form-control btn btn-danger"></a>
                 </div>
               </div>

           <div class="col-md-3 col-sm-3 col-xs-4">
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-success">
                 </div>
               </div>

          
      </div>



            </div>
         <!--    <div class="form-group">
              <input type="submit" value='Save' class="form-control btn btn-success">
           </div> -->
          </div>
          
          </form> 
         <!--  <center>
           <div class="form-group">
              <a href="{% url 'index' %}"><button>Cancel</button></a>
           </div>
           </center> -->
          <!-- ---------------------------------------- -->
          
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
 
    </section>
    {% endblock %}
